.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 2rem;
  background-image: url("/assets/images/backgrounds/bg-image1.webp");
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
  padding: clamp(1rem, 5vw, 2rem);
  max-width: 95vw;
  width: clamp(300px, 70vw, 1000px);
}

.hero-text::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -2rem;
  right: -2rem;
  bottom: -1rem;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: -1;
  border-radius: 12px;
}

.hero-text h1 {
  font-size: clamp(2.5rem, 4vw + 1.2rem, 5rem); /* rugalmas, de hatalmas */
  color: var(--font-color-secondary);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.2;
  text-align: center;
  margin: 0 aut
}

.hero-text h3 {
    color: var(--font-color-secondary);
    font-size: clamp(.8rem, 2vw + 1rem, 3rem); 
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
    letter-spacing: 0.05em;
    line-height: 1.2;
}
