  <div class="menu-bar">
    <a routerLink="/" class="logo-link">
      <img src="assets/images/nexoraLogoMini.png" alt="NEXORA Logo" class="logo-image" />
    </a>
    <button class="hamburger" *ngIf="!isMenuOpen" (click)="toggleMenu()">☰</button>
  </div>
  <div class="menu-container" [class.show]="isMenuOpen">
    <div class="logo">
      <h1>NEXORA</h1>
    <p class="slogan">{{ 'navbar.slogan' | translate }}</p>    </div>
    <button class="close-menu" (click)="toggleMenu()">✕</button>
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" routerLink="/website" (click)="toggleMenu()">{{ 'navbar.menu.website' | translate }}</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/pricing" (click)="toggleMenu()">{{ 'navbar.menu.pricing' | translate }}</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/portfolio" (click)="toggleMenu()">{{ 'navbar.menu.portfolio' | translate }}</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/contact" (click)="toggleMenu()">{{ 'navbar.menu.contact' | translate }}</a></li>
    </ul>
  <div class="language-switcher">
    <button *ngFor="let lang of availableLangs"
            (click)="switchLanguage(lang)"
            [class.active]="lang === currentLang">
      {{ lang.toUpperCase() }}
    </button>
  </div>
</div>
