<div class="menu-bar d-flex justify-content-between align-items-start">
  
  <!-- LOGO + LANGUAGE BLOCK (sticky bal oldalon) -->
  <div class="logo-block position-fixed top-0 start-0 p-3 d-flex flex-column align-items-center z-3">
    <a routerLink="/" class="logo-link d-block">
      <img src="assets/images/madevixLogoDarkMini.png" class="logo-image" />
    </a>

    <div class="language-inline d-flex gap-3 mt-2">
      <span *ngFor="let lang of availableLangs"
            (click)="switchLanguage(lang)"
            [class.active]="lang === currentLang">
        {{ lang }}
      </span>
    </div>
  </div>

  <!-- HAMBURGER (sticky jobb oldalon) -->
  <button class="hamburger" *ngIf="!isMenuOpen" (click)="toggleMenu()">☰</button>
</div>


<!-- MENU DROPDOWN -->
<div class="menu-container" [class.show]="isMenuOpen">

  <a routerLink="/" class="logo clickable-logo" (click)="toggleMenu()">
    <h1>MaDeVix</h1>
    <p class="slogan">{{ 'navbar.slogan' | translate }}</p>
  </a>

  <button class="close-menu" (click)="toggleMenu()">✕</button>

  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" routerLink="/website" (click)="toggleMenu()">{{ 'navbar.menu.website' | translate }}</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/pricing" (click)="toggleMenu()">{{ 'navbar.menu.pricing' | translate }}</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/portfolio" (click)="toggleMenu()">{{ 'navbar.menu.portfolio' | translate }}</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/contact" (click)="toggleMenu()">{{ 'navbar.menu.contact' | translate }}</a></li>
  </ul>

</div>
