.process-section {
  padding: 4rem 2rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-color: var(--font-color-secondary);
  color: var(--font-color-primary);
  height: 100svh;
  align-items: center;
}

.process-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("bg-choose-nexora.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.process-title {
  font-size: 3.8rem;
  font-weight: 500;
  text-align: center;
  margin: 5rem !important;
  color: var(--hover-color);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.process-title::after {
  content: "";
  display: block;
  width: 600px;
  height: 4px;
  margin: 0.5rem auto 0;
  background-color: var(--hover-color);
  border-radius: 2px;
}

.process-card {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
  border-radius: 24px;
  box-shadow: 0 16px 48px rgba(0,0,0,0.5);
  color: #eee;
  background-image: url('bg-process.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(20, 20, 20, 0.85);
  background-blend-mode: overlay;
}


.process-columns {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.process-column {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.process-item {
  text-align: left;
}

.step-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.step-icon {
  font-size: 1.8rem;
  color: var(--icon-color);
  flex-shrink: 0;
  width: 2rem;
  text-align: center;
}

.step-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: var(--blue-font-color);
}

.step-description {
  font-size: 1.1rem;
  color: #ccc;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .process-columns {
    flex-direction: column;
  }

  .process-column {
    flex: 1 1 100%;
  }

  .step-title {
    font-size: 1.3rem;
  }

  .step-description {
    font-size: 1rem;
  }



  .process-title {
    font-size: 2rem;
    margin-bottom: 2rem !important;  
  }

  .process-title::after {
    width: 120px;
    height: 3px;
  }  
}

@media (max-width: 960px) {
    .process-section {
    height: auto;
  }
}