:root {
    --background-color: #293133;
    --font-color-primary: #8A00C4;
}

body {
    background-color: var(--background-color);
    color: var(--font-color-primary);
    font-family: "Roboto", sans-serif;
}
