:root {
    --background-color: #fff;
    --font-color-primary: #000;
}

html, body {
  height: 100%;
  margin: 0;
}


body {
    background-color: var(--background-color);
    color: var(--font-color-primary);
    font-family: "Roboto", sans-serif;
}
