:root {
  --background-color: #efeeff;
  --hover-color: #1F51FF;
  --font-color-primary: #222;
  --font-color-secondary: #f0f8ff;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
    background-color: var(--background-color);
    color: var(--font-color-primary);
    font-family: "Roboto", sans-serif;
}

section {
    height: 100svh;
}
